Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@ZeSergey 
VasilyMur
/
react-001-complete-files-2021
Public
1
01
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
react-001-complete-files-2021/src/css/_animations.styl
@VasilyMur
VasilyMur Init commit
Latest commit 7e5f447 on 28 Jun
 History
 1 contributor
36 lines (32 sloc)  646 Bytes
   
/*
  Анимация:
  enter
  exit
*/

.order-enter 
  transition: 0.5s;
  transform: translateX(-120%);
  max-height: 0;
  &.order-enter-active
    transform: translateX(0);
    max-height: 60px;
    padding: 2rem 0 !important;

.order-exit 
  transition: 0.5s;
  transform: translateX(0);
  &.order-exit-active
    transform: translateX(120%);
    padding: 0;

.count-enter
  transition: 0.5s;
  transform: translateY(100%);
  &.count-enter-active
    transform: translateY(0);

.count-exit
  transition: 0.5s;
  transform: translateY(0);
  position: absolute;
  left: 0;
  bottom: 0;
  &.count-exit-active
    transform: translateY(-100%);
